.p-card {
    width: 250px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0 gray;
    overflow: hidden; /* Ensure the content doesn't overflow */
}

.p-card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.groundname {
    height: 50px;
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
