<header>
    <nav>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/locations">Locations</a></li>
        <!-- <li><a routerLink="/all-grounds" [queryParams]="{'location' : 'hyderabad'}">Hyd</a></li> -->
        <li><a routerLink="/all-grounds">All Grounds</a></li>
        <li><a routerLink="/contacts">Contacts</a></li>
        <li><a routerLink="/feedback">Feedback</a></li>
        <li><a routerLink="/out">LogOut</a></li>
      </ul>
    </nav>
</header>
  
