<header>
    <nav>
      <ul>
        <li><a routerLink="/uhome">Home</a></li>
        <li><a routerLink="/udashboard">Dashboard</a></li>
        <li><a routerLink="/uabout">About</a></li>
        <li><a routerLink="/ulocations">Locations</a></li>
        <!-- <li><a routerLink="/all-grounds" [queryParams]="{'location' : 'hyderabad'}">Hyd</a></li> -->
        <li><a routerLink="/uallgrounds">All Grounds</a></li>
        <li><a routerLink="/ubookings">My Bookings</a></li>
        <li><a routerLink="/uaccount">My Account</a></li>
        <li><a routerLink="/feedback">Feedback</a></li>
        <li><a routerLink="/out">LogOut</a></li>
      </ul>
    </nav>
</header>
  
