
<!-- *********HOME PAGE IMAGE******************** -->

<app-header></app-header>
<div 
class="card" style="width: 18rem;">
    <img class="card-img-top" src="assets\HomePageImages\HomeImage.jpg" alt="Card image cap">
    <!-- <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div> -->
  </div>

  <br>
  <br>

  <div>
    <h2>Welcome to Cricket Ground Booking System</h2>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img" src="assets/HomePageImages/crowd.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Cricket Ground booking System</h5>
            <p class="card-text">Revolutionize your cricket experience with our cutting-edge Cricket Ground Booking System."
                "Effortlessly reserve your preferred cricket ground slots with our user-friendly platform."
                "Streamline your cricket game scheduling process like never before with our intuitive booking system  </p>
          
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img" src="assets/HomePageImages/user.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Customer</h5>
            <p class="card-text">Unlock a personalized experience tailored just for you through our Customer Portal."
                "Access exclusive content, track your orders, and engage with our services seamlessly on our Customer Portal."
                "Empowering you with convenience and control, our Customer Portal simplifies your interaction with our products and services..</p>
            
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img" src="assets/HomePageImages/Admin.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Admin portal </h5>
            <p class="card-text">Empower your administrative tasks with our comprehensive Admin Portal, designed for efficiency and control."
                "Streamline management processes, analyze data, and oversee operations effortlessly through our intuitive Admin Portal."
                "Take charge of your organization's backend operations with our powerful Admin Portal, offering robust tools for customization and optimization.</p>
 
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <br>
  <br><br>


  <app-about></app-about>