<!-- <app-userhead></app-userhead>
<div class="container">
    <h2>User Dashboard</h2>
    <hr>
    <div class="row">
        <div class="col-6">
            <ul>
                <li><a routerLink="/uhome">Home</a></li>
                <li><a routerLink="/udashboard">Dashboard</a></li>
                <li><a routerLink="/uabout">About</a></li>
                <li><a routerLink="/ulocations">All Locations</a></li>
                <li><a routerLink="/uallgrounds">All Grounds</a></li>
                <li><a routerLink="/ubookings">My Bookings</a></li>
                <li><a routerLink="/uaccount"> My Account</a></li>
                <li><a routerLink="/out">LogOut</a></li>
            </ul>
        </div>
        <div class="col-6">
            <img src="https://wallpapercave.com/wp/wp3099424.jpg" alt="No Image Found" >
        </div>
    </div>
</div> -->

<app-userhead></app-userhead>

<div class="user-dashboard-container">
    <h2>User Dashboard</h2>
    <hr>
    <div class="dashboard-content row">
        <div class="dashboard-navigation col-6">
            <ul>
                <li><a routerLink="/uhome">Home</a></li>
                <li><a routerLink="/udashboard">Dashboard</a></li>
                <li><a routerLink="/uabout">About</a></li>
                <li><a routerLink="/ulocations">All Locations</a></li>
                <li><a routerLink="/uallgrounds">All Grounds</a></li>
                <li><a routerLink="/ubookings">My Bookings</a></li>
                <li><a routerLink="/uaccount">My Account</a></li>
                <li><a routerLink="/out">LogOut</a></li>
            </ul>
        </div>
        <div class="dashboard-image col-6">
            <img src="https://wallpapercave.com/wp/wp3099424.jpg" alt="No Image Found">
        </div>
    </div>
</div>
